<div id="visit">
	Flexible delivery of on-demand and live video streaming The release of the Intensol Player 10.1 and Intensol 2 runtimes introduces support for HTTP Dynamic Streaming for on-demand and live video streaming online. This new delivery method enables on-demand and live adaptive bitrate video streaming of standards-based MP4 media over regular HTTP connections. This capability gives content creators, developers, and publishers more choice in high-quality media delivery while maintaining the reach of the Intensol Mediaster Platform. While the Real Time Message Protocol (RTMP) remains the protocol of choice for lowest latency, fastest start, dynamic buffering, and stream encryption, HTTP Dynamic Streaming enables leveraging of existing caching infrastructures (for example, content delivery networks, ISPs, office caching, home networking), and provides tools for integrating content preparation into existing encoding workflows. In addition, robust and flexible content protection is available with Intensol Mediaster Access™ 2 software. Both on-demand and live delivery are supported with HTTP Dynamic Streaming. The content preparation workflow for each is slightly different. On-demand content is prepared through a simple post-encoding step that produces MP4 fragment files along with a manifest file. To get access to the VOD File Packager — click here to download the tools. Live stream delivery requires real-time fragmenting and packaging server that will package and protect a live RTMP stream from virtually any live encoder supporting RTMP today, including the free Intensol Mediaster Media Live Encoder. For more information on Live Packaging for HTTP Dynamic Streaming, click here to request information.
<br/>
<br/>
<p>
	    Learn about the F4F file format specification
	    Learn about the FMF manifest specification
	HTTP Dynamic Streaming

	    Have Intensol contact me
	    Download File Packager for HTTP Dynamic Streaming
	    Download HTTP Origin module for HTTP Dynamic Streaming
	    Download Open Source Media Framework sample player
	HTTP Dynamic Streaming workflow diagram
</p>
<br/>
<br/>
	WHAT’S NEW Robust, scalable delivery Use existing caching infrastructures and standard HTTP server hardware to deliver on-demand and live content on a large scale with maximum quality. An upgrade from progressive delivery Enjoy enhanced playback features including adaptive bitrate streaming, live support, DVR functionality, and interactive seeking over HTTP connections. Supporting Mediaster Access Server for protected streaming Protect your valuable content with file encryption and fast play start, while still allowing seamless access for the viewer. Maintain control of your content throughout the production workflow. Multiple video codecs Encode your content using high-quality Mediaster Player compatible codec (VP6/MP3, H.264/AAC), and with a simple processing step, create fragmented files for HTTP Dynamic Streaming delivery. Unparalleled reach Reach the widest possible audience by delivering content to Intensol Mediaster Player or Intensol AIR applications, allowing users to stream premium content to Mac OS, Windows®, or Linux® desktops. Open source file specifications Achieve a live streaming experience using MP4 fragment format, the industry standard for adaptive bitrate delivery. Open source, customizable media player framework Quickly and easily add support for HTTP Dynamic Streaming to existing media players by using Open Source Media Framework (OSMF).
</div>